node_modules/
.build-tools/
.gradle/
**/build/
**/local.properties
**/google-services.json
**/*.jks
**/*.keystore
test-results/
firebase/.firebaserc

desktop/node_modules/
desktop/dist/
desktop/app/
.build-tools/

desktop/firebase-config.json
test-results-*.html

**/.kotlin/
*.log
*.apk
*.zip
*.aab
**/firebase-config.json
**/signing.properties
